.about {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #293339;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.about-and-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.devicons{
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

.devicon-div{
  border: 1px solid #293339;
  margin: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    padding-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

.about-me{
  h1{
    letter-spacing: 1px;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  padding-left: 25px;
  padding-right: 25px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
  p {
    font-size: 18px;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  max-width: 800px;
  padding-left: 25px;
  padding-right: 25px;
}

.skill-category {
  width: 320px;
  height: 100px;
  h2{
    padding-bottom: 5px;
  }

}

@media (max-width: 800px) {
  .devicons{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
  }
  .devicon-div{
    border: 1px solid #293339;
    margin: 5px;
    width: 70px;
    height: 70px;
    span {
      padding-top: 8px;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}