.contact {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/grid.png");
  background-attachment: fixed;
  background-position: center;
}