.scroll-img-1 {
  background-image: url("../img/grid.png");
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 175px;
}

.scroll-img-2 {
  background-image: url("../img/grid.png");
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 175px;
}
