* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HKGrotesk Medium", trebuchet, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.title-card {
  background-image: url("../img/grid.png");
  background-attachment: fixed;
  background-position: center;
  color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;

  .name,
  .surname {
    font-size: 80px;
    font-size: 9vw;
  }
  .position {
    font-size: 30px;
    padding-bottom: 20px;
  }
  i {
    font-size: 3rem;
  }
}


@media (max-width: 800px) {
  .title-card {
    .name,
    .surname {
      font-size: 50px;
    }
    .position {
      font-size: 30px;
    }
  }
}

@import "nav", "about", "projects", "experience", "contact", "scroll-images", "interests";
